<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - IvoTech </title>
        <style>
            nav {
                color: #d64161;
                font-size:3em;
                margin-left: 50px;
            }
            nav a {
                color: #d64161;
                text-decoration: none;
            }
        </style>
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <nav>
            <!-- el nombre de la ruta sale del método definido en el backend -->
            <a href="{{ url_for('hello') }}">Inicio</a> |
            <a href="{{ url_for('revisores')}}">Revisores</a> |
            <a href="{{ url_for('inspectores')}}">Inspectores</a> |
            <a href="{{ url_for('obras')}}">Obras</a> |
            <a href="{{ url_for('certificados')}}">Certificados</a>
        </nav>
        <hr>
        <div class="content box">
            {% block content %} {% endblock %}
        </div>

    <script src="{{url_for('static', filename='js.js')}}"></script>
    </body>
</html>
