{% extends 'base.html' %}

    

{% block content %}

<h1> {% block title %} Certificados {% endblock %}</h1>
<h3>En esta sección se pueden consultar los certificados</h3>


{% for obra in json_de_obras %}

<hr>
<h3>Obra: {{ obra.Codificacion }}, {{ obra.NombreObra }}</h3>
<ul> 
    <li>
        Revisor:
        {% for revisor in json_de_revisores %}
            {% if revisor.IdRevisor == obra.IdRevisor %}
                <i>{{ revisor.NombreRevisor }}</i>
            {% endif %} 
        {% endfor %} (Id# {{ obra.IdRevisor }})
    </li>
    <hr>
    <h4>Certificados:</h4>
        

    {% for certificado in json_de_certificados %}

        {% if certificado.IdObra == obra.IdObra %}                

            <li>Certificado Número {{ certificado.Numero }} (Id#: {{ certificado.IdCertificado }})</li>
            <p>Presentado con fecha: {{ certificado.FechaDePresentacion }}</p>  
            
        {% endif %}
    {% endfor %}
    <!-- <p>Último certificado presentado con fecha: {{ obra.ultimo_certificado }}</p> -->
    {% set TiempoDesdeUltimaPresentacion = FechaDeHoy - obra.ultimo_certificado %}
    
    <p> Han pasado {{ TiempoDesdeUltimaPresentacion.days }} días desde la última presentación de certificados de esta obra</p>
    <button class="button is-success is-rounded">
        <span>Agregar Certificado</span>
        <span class="icon is-small">
            <i class="fas fa-times"></i>
        </span></button>

</ul>
{% with obra=obra %}
{% include 'certificadosForm.html' %}
{% endwith %}

{% endfor %}

{% endblock %}