{% extends 'base.html' %}

{% block content %}

    
<div class="content" style="display: flex; flex-direction: column; align-items: center;">
    <h3 class="prueba">Creando nueva obra </h3>
    <p><i>(los campos con * son obligatorios)</i></p>

    
    <form method="post">   
        <label for="IdRevisor"> Revisor : </label>
        <select class="button is-small is-rounded" style="vertical-align: baseline" name="IdRevisor">
            <option value="" disabled selected hidden>↓ Elegir un revisor ↓</option>
            {% for revisor in revisores %}
                <option value="{{ revisor.IdRevisor }}">{{ revisor.NombreRevisor }}</option>
            {% endfor %}
        </select>
        <!-- <input type="number" name="IdRevisor"
        placeholder=""
        value=" {{ request.form['IdRevisor']}}"></input> -->
        <br>
        <label for="IdInspector"> Inspector: </label>
        <select class="button is-small is-rounded" style="vertical-align: baseline" name="IdInspector">
            <option value="" disabled selected hidden>↓ Elegir un inspector ↓</option>
            {% for inspector in inspectores %}
                <option value="{{ inspector.IdInspector }}">{{ inspector.NombreInspector }}</option>
            {% endfor %}
        </select>
        <!-- <input type="number" name="IdInspector"
        placeholder="Inspector"
        value=" {{ request.form['IdInspector']}}"></input> -->
        <br>
        <label for="NombreObra"> Nombre de la obra *</label>
        <br>
        <input type="text" name="NombreObra"
        placeholder="Nombre de la Obra"
        value=" {{ request.form['NombreObra']}}"></input>
        <br>
        <label for="Codificacion"> Codificacion *</label>
        <br>
        <input type="text" name="Codificacion"
        placeholder="Codificacion"
        value=" {{ request.form['Codificacion']}}"></input>
        <br>
        <label for="FechaContrato"> Fecha Contrato </label>
        <br>
        <input type="date" name="FechaContrato"
        placeholder="Fecha de Contrato"
        value=" {{ request.form['FechaContrato']}}"></input>
        <br>
        <label for="FechaInicio">Fecha de Inicio  </label>
        <br>
        <input type="date" name="FechaInicio"
        placeholder="Fecha de Inicio"
        value=" {{ request.form['FechaInicio']}}"></input>
        <br>
        <label for="PlazoDias"> Plazo (Dias) </label>
        <br>
        <input type="number" name="PlazoDias"
        placeholder="Plazo (Dias) "
        value=" {{ request.form['PlazoDias']}}"></input>
        <br>
        <label for="FechaFin">Fecha de Finalizada</label>
        <br>
        <input type="date" name="FechaFin"
        value="{{ request.form['FechaFin']}}""></input>
        <br>
        <label for="Prorroga">Prorroga</label>
        <br>
        <input type="date" name="Prorroga"
        placeholder="Prorroga"
        value=" {{ request.form['Prorroga']}}"></input>
        <br>
        <button type="submit">Crear</button>
    </form>
    </div>



    {% endblock %}