{% extends 'base.html' %}

{% block content %}

<h1> {% block title %} Obras {% endblock %}</h1>
<h3>En esta sección se despliegan todas las obras cargadas</h3>
<a href="{{ url_for('obrasForm')}}"><button class="button is-rounded is-success">Crear nueva obra</button></a>
<p>Notar: 1) que se ordenan por codificación y 2) que hay un método for...in en el template que por cada obra revisa su IdRevisor y usa ese dato para recuperar el Nombre del revisor y desplegarlo aquí</p>

{% for obra in json_de_obras %}


<div class="content" style="display: flex; flex-direction: column; align-items: center; ">
    
    <h4>Obra: {{ obra.Codificacion }}, {{ obra.NombreObra }}</th></h4>
    <table class="table is-striped is-bordered is-narrow" style="table-layout:fixed; max-width: 600px;"> 
        <tbody>
            <tr>
                <th>Id de la Obra </th>
                <td>{{ obra.IdObra }}</td>
            </tr>
            <tr>
                <th>Inspector</th>
                <td>
                    {% if obra.IdInspector == None %}
                        No declarado
                    {% else %}
                        {% for inspector  in all_inspectores %}
                            {% if inspector.IdInspector == obra.IdInspector %}
                                (Id# {{ inspector.IdInspector }}) {{ inspector.NombreInspector }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Revisor</th>
                <td>
                        {% for revisor in json_de_revisores %}
                            {% if revisor.IdRevisor == obra.IdRevisor %}
                                (Id# {{ revisor.IdRevisor }}) {{ revisor.NombreRevisor }}
                            {% endif %}
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Fecha de Contrato</th>
                <td>{{ obra.FechaContrato }}</td>
            </tr>
            <tr>
                <th>Fecha de Inicio</th>
                <td>{{ obra.FechaInicio }}</td>
            </tr>
            <tr>
                <th>Plazo en días</th>
                <td>{{ obra.PlazoDias }}</td>
            </tr>
            <tr>
                <th>Fecha Finalización</th>
                <td>
                    {% if obra.FechaFin == None %}
                        No declarada
                    {% else %}
                        {{ obra.FechaFin }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Prórroga</th>
                <td>
                    {% if obra.Prorroga == None %}
                        No declarada
                    {% else %}
                        {{ obra.Prorroga }}
                    {% endif %}
                </td>
            </tr>
        </tbody>  
    </table>
</div>
{% endfor %}

{% endblock %}